<p id="footer-text">Products safe for you, your kids, your pets, and the Earth!</p>
<br>
<p id="footer-links"><a routerLink="/homepage">Oranges & Elbows</a><span>,</span><a routerLink="/contact" id="footer-links-contact-us"> Contact us</a></p>
<div class="social-media-footer">
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/orangesandelbows/" class="social-square"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/orangesandelbows/" class="social-square"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/ElbowsOranges" class="social-square"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.pinterest.com/orangeselbows/" class="social-square"><i class="fa fa-pinterest"></i></a></li>
    </ul>
</div>
