.homepage-content {
    display: flex;
}

.image-container {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 15%;
}

p {
    margin-top: 10px;
    font-size: 2em;
    font-weight: 400;
}

.homepage-list {
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: 2em;
    font-size: 3em;
}

.homepage-list ul {
    list-style: none;
}