$green: #76FF03;
$grey: #AAAAAA;
$orange: #FF9800;
form {
    margin-left: 20%;
    margin-right: 20%;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
$green: #76FF03;
$orange: #FF9800;
.btn-unique {
    background-color: $orange;
}

.btn-unique:hover {
    background-color: $green !important;
}

.btn {
    font-size: 2rem;
}

#contact_title {
    font-family: 'Lobster', cursive;
    margin-top: 15px;
}

#contact_info {
    margin-top: 75px;
    text-align: center;
    font-size: 1.3em;
}

a {
    color: $green;
    font-weight: 600;
}

@media only screen and (max-width: 428px) {
    #contact_info {
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: 1.1em;
    }
    form {
        margin-left: 2%;
        margin-right: 2%;
    }
}