<section class="leading">
  <img class="group-photo" src="/assets/images/crew_photo_2019-07-25.jpg" alt="group-crew">
</section>
<img class="group-photo-mobile" src="/assets/images/crew_photo_2019-07-25.jpg" alt="group-crew">
<section class="cards">
  <article type="button" class="cards-article" *ngFor="let item of crew">
      <div class="info-slider">
        <a routerLink="{{item.link}}"><img class="article-img" src={{item.url}} alt=" " /></a>
          <h1 class="article-title">
              {{item.name}}
          </h1>
      </div>
  </article>
</section>
