<ul class="social-icons">
  <li><a href="https://www.facebook.com/orangesandelbows/" class="social-square"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://www.instagram.com/orangesandelbows/" class="social-square"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://twitter.com/ElbowsOranges" class="social-square"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://www.pinterest.com/orangeselbows/" class="social-square"><i class="fa fa-pinterest"></i></a></li>
</ul>
