<div class="grid-container">
  <div class="top">
    <img class="doggo" src="/assets/images/doggo.png">
    <p class="top-text">Try us out for one month & the first walk is free!</p> 
  </div>
  <div class="center">
    <p class="center-text-title">NOW WE OFFER PET CARE!</p>
    <br>
    <p class="h2 center-text">Going out of town?</p>
    <ul>
      <li>Come back to a spotless house</li>
      <li>Come home to a happy pet</li>
      <li>Just ask about our <span class="text-span">Pet Sitting/House Cleaning Package!</span></li>
    </ul>
    <br>
    <p class="h2 center-text">Other Offerings</p>
    <ul>
      <li>20 minute, 30 minute, and hour-long walks for your pups</li>
      <li>Dog needs a jog? We'll do it!</li>
    </ul>
    <p class="h2 contact">Contact Us</p>
    <ul class="dogContact">
      <li>Megan Willard - 319.936.3682 - orangesandelbows@gmail.com</li>
      
    </ul>
  </div>
  <div class="bottom">
    <img class="cato" src="/assets/images/cato.png">
    <p class="bottom-text">We are first aid and CPR trained!</p> 
  </div>
</div>
