<p id="contact_title" class="h2 text-center mb-4">Our Services</p>
<img id="kitchen-mobile" class="z-depth-3" src="/assets/images/Kitchen-mobile.jpg">
<p class="services_info">Oranges & Elbows will refresh your home from floor to ceiling with all our standard cleaning practices, which includes using only all-natural, non-toxic products. We make our most frequently used products right at home, adding essential oils for their
    antiviral and antibacterial properties. With the right tools, the best products, and a little elbow grease we can clean just about anything! </p>
<br>
<br>
<p class="services_info2">Below are our standard cleaning practices for every room in your home or business. Have something else in mind that you don’t see listed? Just ask! Oranges & Elbows creates a custom cleaning plan with each client; our standard services are only a starting
    point for what’s possible. Together, we’ll create the plan and schedule—weekly, semi-monthly, monthly, or one-time—to suit your needs. <a routerLink="/contact">Schedule an estimate today to get started!</a></p>

<p class="services-mobile">Below are our standard cleaning practices for every room in your home or business.</p>

<div class="main-content">
    <div class="all-rooms">
        <h1>Standard Services:</h1>
        <hr>
        <dl>
            <dt>Dusting</dt>
            <dd>Are cobwebs filling corners in hard to reach places? Is your bathroom vent full of dust bunnies? Do your bookshelves store drifts of dust? Oranges & Elbows has you covered with floor-to-ceiling dusting. During your initial cleaning, we will
                take down that built-up dust and each subsequent cleaning we will do the work to maintain those ceiling fans, walls, tops of fridges, and more.</dd>
            <dt>Floors & Surfaces</dt>
            <dd>Tile, carpet, hardwood, glass, cement, marble, laminate—you name it, Oranges & Elbows can clean it. We have all the right all-natural cleaning products to clean and preserve your floors (even pesky grout lines!) Surfaces like countertops,
                backsplashes, cupboards, vanities, and mirrors will all receive a through cleaning and polish.</dd>
        </dl>
        <img id="kitchen" class="z-depth-3" src="/assets/images/Kitchen.jpg">
    </div>

    <div class="kitchen_text">
        <dl>
            <dt>Appliances & Fixtures</dt>
            <dd>Stainless steel, chrome, glass, and plastics come together on modern appliances, and Oranges & Elbows can tackle whatever food, fingerprints, and water marks collect on these materials. Water faucets and shower heads will be shined up. Toilet
                rings will disappear along with the germs after we scrub and sanitize them, too.<br><br>A standard Oranges & Elbows visit won’t include inside the refrigerator, microwave, coffee pot, toaster, oven, or any other appliance, unless you ask
                for it specifically.</dd>
            <dt>Upholstery & Rugs</dt>
            <dd>It may be raining cats, dogs, and children at your house, but we are happy to vacuum away all the hair their downpour leaves behind. Oranges & Elbows can keep these woven surfaces tidy, using attachments to carefully handle delicate rugs and
                fringe trims while still whisking away the hair and fur.</dd>
        </dl>
        <h1 class="bathroom-title">What we don't do</h1>
        <hr>
        <p>Oranges & Elbows does not provide the following services as part of our cleanings:</p>
        <ul>
            <li>Window washing</li>
            <li>Dishes</li>
            <li>Laundry</li>
            <li>Organizing</li>
            <li>Pet messes (bathroom accidents, litter boxes, etc.)</li>
        </ul>

    </div>
    <div class="green-clean-column">
        <img id="green-clean" class="z-depth-3" src="/assets/images/greenClean.jpg">
    </div>
    <div class="green-clean-text">
        <h1>What to Expect</h1>
        <hr>
        <p>If you’ve never had a cleaning service before or even if you are looking to switch to a new one, you may be wondering what to expect. Here’s the Oranges & Elbows process:</p>
        <dl>
            <dt>Call or fill out our online form to schedule a free estimate</dt>
            <dd>Estimates are a free consultation where we will evaluate your cleaning goals and the size of your home or business to provide you with an estimate of the time and cost of our services for your particular needs. During the estimate, you can
                discuss with our most experienced staff members any special cleaning needs or concerns you have so that you are entirely comfortable before our initial cleaning takes place.</dd>
            <dt>The initial</dt>
            <dd>During the initial cleaning, Oranges & Elbows will dive into all the nooks and crannies of your home. This deep cleaning allows us to reach your cleaning goals and sets us up to perform more routine cleanings on the frequency schedule of your
                choice. The initial may include steps like taking down light fixtures to thoroughly dust or wash them and scrubbing scuff marks off of baseboards. After we tackle these big projects once, we can keep on top of them with faster, regular
                cleanings.
            </dd>
            <dt>Become a regular</dt>
            <dd>After your initial cleaning, you can become a regular! This means getting a spot on our schedule, whether it’s once or twice a month or every week. We can help you decide what frequency fits your needs and budget. Oranges & Elbows also loves
                getting feedback from our clients, especially after the initial cleaning. Anything we missed? Something extra you would like done? You will receive impeccable customer service to make sure each and every cleaning is exactly what you want.</dd>
        </dl>
    </div>
</div>

<div class="main-content-mobile">
    <div class="all-rooms">
        <h1>Standard Services:</h1>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Dusting
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Are cobwebs filling corners in hard to reach places? Is your bathroom vent full of dust bunnies? Do your bookshelves store drifts of dust? Oranges & Elbows has you covered with floor-to-ceiling dusting. During your initial cleaning, we
                    will take down that built-up dust and each subsequent cleaning we will do the work to maintain those ceiling fans, walls, tops of fridges, and more.</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Floors & Surfaces
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Tile, carpet, hardwood, glass, cement, marble, laminate—you name it, Oranges & Elbows can clean it. We have all the right all-natural cleaning products to clean and preserve your floors (even pesky grout lines!) Surfaces like countertops,
                    backsplashes, cupboards, vanities, and mirrors will all receive a through cleaning and polish.</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Appliances & Fixtures
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Stainless steel, chrome, glass, and plastics come together on modern appliances, and Oranges & Elbows can tackle whatever food, fingerprints, and water marks collect on these materials. Water faucets and shower heads will be shined up.
                    Toilet rings will disappear along with the germs after we scrub and sanitize them, too.<br><br>A standard Oranges & Elbows visit won’t include inside the refrigerator, microwave, coffee pot, toaster, oven, or any other appliance, unless
                    you ask for it specifically.</p>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Upholstery & Rugs
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>It may be raining cats, dogs, and children at your house, but we are happy to vacuum away all the hair their downpour leaves behind. Oranges & Elbows can keep these woven surfaces tidy, using attachments to carefully handle delicate rugs
                    and fringe trims while still whisking away the hair and fur.</p>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="what-to-expect">
            <h1>What to Expect</h1>
            <hr>
            <p>If you’ve never had a cleaning service before or even if you are looking to switch to a new one, you may be wondering what to expect. Here’s the Oranges & Elbows process:</p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Call or fill out our online form to schedule a free estimate
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Estimates are a free consultation where we will evaluate your cleaning goals and the size of your home or business to provide you with an estimate of the time and cost of our services for your particular needs. During the estimate,
                        you can discuss with our most experienced staff members any special cleaning needs or concerns you have so that you are entirely comfortable before our initial cleaning takes place.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            The Initial
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>During the initial cleaning, Oranges & Elbows will dive into all the nooks and crannies of your home. This deep cleaning allows us to reach your cleaning goals and sets us up to perform more routine cleanings on the frequency schedule
                        of your choice. The initial may include steps like taking down light fixtures to thoroughly dust or wash them and scrubbing scuff marks off of baseboards. After we tackle these big projects once, we can keep on top of them with
                        faster, regular cleanings.
                    </p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Become a regular
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>After your initial cleaning, you can become a regular! This means getting a spot on our schedule, whether it’s once or twice a month or every week. We can help you decide what frequency fits your needs and budget. Oranges & Elbows
                        also loves getting feedback from our clients, especially after the initial cleaning. Anything we missed? Something extra you would like done? You will receive impeccable customer service to make sure each and every cleaning is
                        exactly what you want.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="wont-do">
            <h3>What we don't do</h3>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            following services are not included in our cleanings:
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Window washing</li>
                        <li>Dishes</li>
                        <li>Laundry</li>
                        <li>Organizing</li>
                        <li>Pet messes (bathroom accidents, litter boxes, etc.)</li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="bottom-text">
            <p> Have something else in mind that you don’t see listed? Just ask! Oranges & Elbows creates a custom cleaning plan with each client; our standard services are only a starting point for what’s possible. Together, we’ll create the plan and schedule—weekly,
                semi-monthly, monthly, or one-time—to suit your needs. <a routerLink="/contact">Schedule an estimate today to get started!</a></p>
        </div>

    </div>

</div>