@import url('https://fonts.googleapis.com/css?family=Lobster');
$green: #76FF03;
$grey: #AAAAAA;
$orange: #FF9800;
h1 {
    font-size: 2rem;
}

#contact_title {
    font-family: 'Lobster', cursive;
    margin-top: 15px;
}

.services_info {
    font-size: 1.3em;
    margin-bottom: -23px;
    margin-left: 5%;
    margin-top: 8%;
}

.services_info2 {
    font-size: 1.3em;
    margin-bottom: -23px;
    margin-left: 5%;
}

.services-mobile {
    display: none;
}

.main-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    font-size: 1.3em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.main-content-mobile {
    display: none;
}

dt {
    list-style: none;
}

#kitchen {
    grid-column: 1;
    grid-row: 2;
    max-width: 85%;
    margin-top: inherit;
}

#kitchen-mobile {
    display: none;
}

.all-rooms {
    grid-column: 1;
    grid-row: 1;
}

.kitchen_text {
    grid-column: 2;
    grid-row: 1;
    margin-left: inherit;
    margin-top: 3.2em;
}

.bathroom-title {
    margin-top: 6%;
}

#green-clean {
    margin-left: inherit;
    margin-top: inherit;
    max-width: 70%;
}

.green-clean-column {
    grid-column: 2;
    grid-row: 3;
    margin-left: inherit;
    margin-top: inherit;
}

.green-clean-text {
    grid-column: 1;
    grid-row: 3;
}

a {
    color: $green;
    font-weight: 600;
}

a:hover {
    color: $orange;
}

@media only screen and (max-width: 428px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }
    #kitchen {
        display: none;
    }
    #green-clean {
        display: none;
    }
    #contact_title {
        display: none;
    }
    #kitchen-mobile {
        display: block;
        max-width: 100%;
        margin-top: 2px;
    }
    .services_info2 {
        display: none;
    }
    .services-mobile {
        display: block;
        font-size: 1.1em;
        margin-left: 3%;
        margin-right: 3%;
    }
    .services_info {
        font-size: 1.1em;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
    }
    .main-content {
        display: none;
    }
    .main-content-mobile {
        display: block;
    }
    .main-content-mobile h1 {
        margin-left: 3%;
    }
    .main-content-mobile p {
        font-size: 1.1em;
    }
    .what-to-expect {
        margin-top: 5%;
    }
    .what-to-expect p {
        margin-left: 3%;
        margin-right: 3%;
    }
    mat-panel-title {
        font-weight: 700;
    }
    .wont-do {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .wont-do h3 {
        margin-left: 3%;
    }
    .bottom-text {
        margin-left: 3%;
        margin-right: 3%;
    }
}