<h1 class="top-text">Does it sound to good to be true? Oranges & Elbows is proud to let our customers speak for the quality of our work. Find more of what our customers have to say on our <a href="https://www.facebook.com/orangesandelbows/">Facebook page.</a></h1>

<ul class="testimonials" *ngFor="let item of testimonial">
    <li>
        <blockquote>
            <p>{{item.message}}</p>
            <footer>
                <span class="author">– {{item.author}}</span>
            </footer>
        </blockquote>
    </li>
</ul>
