//creating a custom Material theme to match the colors I want for the website, this way I can utilize Material
//keywords such as primary and accent to apply theme colors to components
@import '../node_modules/@angular/material/theming';
@include mat-core();
$custom-theme-primary: mat-palette($mat-orange);
$custom-theme-accent: mat-palette($mat-light-green, A400, A200, A700);
$custom-theme-warning: mat-palette($mat-red, A200);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warning);
@include angular-material-theme($custom-theme);