/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

$green: #76FF03;
$grey: #AAAAAA;
$orange: #FF9800;
@import './custom-theme';
html,
body {
    min-height: 100vh;
    width: auto; //background-color: #F1F8E9;
}

.link {
    color: $green;
    cursor: pointer;
}

.layout {
    display: grid;
    min-height: 100vh;
    width: auto;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 2em auto auto auto;
}

app-social-media-header {
    background-color: #FFB74D;
    grid-column: 1/5;
    height: 2em;
    z-index: 1;
}

app-header {
    background-color: white;
    grid-column: 1/5;
    z-index: 2;
}

.main-content {
    grid-column: 1/5; // grid-row-start: 3;
    // grid-row-end: 4;
    //min-height: 50em; setting this to now for the moment to get the layout correct
    z-index: 1;
}

app-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: repeat(3, 1fr);
    background-color: #65686f;
    grid-row-start: 4;
    grid-row-start: 5;
    grid-column: 1/5;
    max-height: 12em;
    z-index: 1;
}

app-carousel {
    z-index: 1;
}

.carousel-indicators li img {
    display: none;
}

app-ggmaps {
    text-align: center;
}

.mat-menu-content {
    background-color: #FFB74D;
}

.mat-menu-content a {
    color: white;
}

@media only screen and (max-width: 428px) {
    app-social-media-header {
        display: none;
    }
    app-footer {
        max-height: 7em;
    }
    .layout {
        display: flex;
        flex-direction: column;
    }
    .main-content {
        grid-column: 1/5; // grid-row-start: 3;
        grid-row: 2/4; //min-height: 50em; setting this to now for the moment to get the layout correct
    }
    .w-100 {
        width: auto !important;
    }
}