@import url('https://fonts.googleapis.com/css?family=Lobster');
$green: #76FF03;
$orange: #FF9800;
$grey: #AAAAAA;
#contact_title {
    font-family: 'Lobster', cursive;
    margin-top: 15px;
}

a {
    color: #76FF03;
}

a:hover {
    color: #FF9800;
}

h1 {
    font-size: 2rem;
}

.service-text {
    margin-left: 2em;
}

#top {
    margin-top: 80px;
}

@media only screen and (max-width: 428px) {
    #top {
        font-size: 1.1em;
        margin-top: 0px;
    }
    .service-text {
        margin-left: 3%;
    }
}