<section class="profile-leading">
    <img class="profile-photo alexis" src="../../assets/images/alexis.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Alexis Russell</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Alexis loves Iowa City. She can't imagine living anywhere else in Iowa. In her free time, you might find Alexis outdoors or supporting local businesses. Alexis first met Oranges & Elbows' owner, who taught her most of what she knows about wine and cheese, while working at New Pioneer Co-Op. She truly enjoys cleaning while tuning into her favorite podcast. Alexis has a great understanding of the impact a clean home can have on a busy person's life. </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>