<section class="profile-leading">
  <img class="profile-photo alyssa" src="../../assets/images/alyssa.jpeg" alt="profile-photo">
</section>
<h1 class="name">Alyssa Hefel</h1>
  <ul class="profile-testimonials">
      <li>
          <blockquote>
              <p>Alyssa grew up in the charming, small town of Guttenberg, Iowa.  She attended school in Iowa City, graduating from Massage Therapy.  Other than cleaning for Oranges & Elbows, Alyssa works for UIHC & the Recreation & Wellness Center helping others through the healing powers of massage.  In what little free time she has, Alyssa enjoys swaying in her hammock by the reservoir & reading books.  Taking care of body and mind is a top priority for Alyssa which she honors by working out daily and cooking plant based meals. </p>
              <footer>
                  
              </footer>
          </blockquote>
      </li>
  </ul>