<section class="profile-leading">
    <img class="profile-photo ananya" src="../../assets/images/ananya.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Ananya Pramanik</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>After moving from India to Iowa (with many stops in between), Ananya calls Iowa City home since 2007. When not working, she dedicates an embarrassing amount of time to video games and reading fiction. She also has a passion for cooking Bengali and South Asian food. Her plans for the future include spending more time with her parents in Cedar Falls, and travelling with her boyfriend Kevin. </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>