<section class="profile-leading">
    <img class="profile-photo cat" src="../../assets/images/cat.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Catherine Minor-Nidey</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Catherine grew up in Iowa City and now lives in Coralville with her husband and two children. She has worked for Oranges & Elbows since 2015. Catherine enjoys working with all-natural and safe products in an excellent work environment. </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>