<section class="profile-leading">
    <img class="profile-photo" src="../../assets/images/jerry.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Jeri Halperin</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Self-proclaimed “navy brat,” Jeri has traveled and moved a lot in her life. After being displaced by Hurricane Katrina, Jeri and her husband, Ben, moved to her parents’ native state, Iowa. Together, they enjoy the outdoors and whipping up amazing fare at their entrepreneurial baby Augusta Restaurant and Catering. While Augusta is in-between locations, Jeri is loving working for local businesses like Oranges and Elbows and Maggie’s Farm. As she says, “I appreciate the integrity of Oranges & Elbows. They care as much about their employees as they do about customer satisfaction.” </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>