<section class="profile-leading">
    <img class="profile-photo" src="../../assets/images/megan.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Megan Willard</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Megan Willard started Oranges & Elbows January 2015. After moving from Missouri to Iowa City in 2006, Megan quickly became a familiar face to the community through her employment at New Pioneer Co-op. She spent nearly nine years there before joining the beloved, locally owned business Café Del Sol Roasting, while starting up Oranges & Elbows. 

                    Megan has always enjoyed cleaning. She inherited the habit of keeping a tidy home from her mother and still finds it relaxing and rewarding to create comfortable, clean and stylish spaces. Her vision is to support lovely, local families with top-notch, affordable and natural cleaning services!
                    
                    Megan spends her free time with her husband, Calvin, and her two pups, Finley and Layla. Together, they enjoy hosting gatherings with all their close friends and family. </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>
