<section class="profile-leading">
    <img class="profile-photo sarah" src="../../assets/images/sarah-alberts.png" alt="profile-photo">
  </section>
  <h1 class="name">Sarah Alberts</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Sarah can't see herself living and working anywhere but Iowa City. She grew up on a farm outside of town and has been here ever since. You can find Sarah reading, making mixed media collages, and working out (especially kettlebells and spin class) when she's not working with Oranges & Elbows. She also loves spending time with her cat, who she loves even though he is "a nuisance and a half." </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>