<section class="profile-leading">
    <img class="profile-photo lisa" src="../../assets/images/seanna.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Seanna Feijo</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Lisa is a homegrown Iowan inspired by elements of nature and natural history. During the growing season (Spring-Fall), she runs an ecologically-minded gardening business maintaining and designing healthy and diverse landscapes around Johnson County. Working with Oranges & Elbows during the off season (Winter) gives her versatility to tackle garden design projects and work alongside the Heritage Land Stewards doing Prairie and Woodland restoration through Prescribed Burning.  </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>