<section class="profile-leading">
    <img class="profile-photo lisa" src="../../assets/images/seanna.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Seanna Feijo</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>A North Carolina native, Seanna moved to Iowa when she was in the third grade and now calls the state home. She has a beautiful brown Aussie who she loves and adores, a Pit Bull Schnauzer mix whom she calls Baba Yaga, and a Chow Chow Collie. Seanna also has two kitty rescues. "All my pets are my babies!" Seanna has a great partner who she loves and adores that makes music and reads to her in bed. </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>