<section class="profile-leading">
    <img class="profile-photo wanda" src="../../assets/images/wonda.jpg" alt="profile-photo">
  </section>
  <h1 class="name">Wanda Fennern</h1>
    <ul class="profile-testimonials">
        <li>
            <blockquote>
                <p>Wanda started working for Oranges & Elbows in the fall of 2016. She has lived in the Iowa City area most of her life. She has three children and 10 grandchildren! Wanda enjoys riding her bicycle, tending to her plants, and spending quality time with her beautiful grandkids and her tiny, cuddly dog! She met Megan during her time at New Pioneer, where Wanda worked for over eight years. She loves that we use all-natural cleaning products and claims “hard work keeps you young!” </p>
                <footer>
                    
                </footer>
            </blockquote>
        </li>
    </ul>